body {
  font-family: Arial, Helvetica;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #8c2dc0;
}

.form-container {
  background-color: #fff;
  width: 80%;
  border-radius: 10px;
  overflow: hidden; /*Check this*/
  height: 90%;
  display: flex;
  align-items: center;
}

.form-container .login-container {
  width: 500px;
  margin: 0 auto;
}

.form-container .login-container > h2 {
  text-align: center;
  font-size: 2.5rem;
}

.form-container .login-container > p,
.form-container .login-container > span {
  text-align: center;
  color: #555;
}

.form-container .login-container label {
  display: block;
  font-weight: bold;
  padding: 5px 0;
}

.form-container .login-container input.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
}

.form-container .login-container input.input:focus {
  outline: solid 1px #0099ff;
}
