* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 800px;
}

img {
  width: 100%;

  view-timeline-name: --revealing-image;
  view-timeline-axis: block;

  animation-name: show;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-timeline: --revealing-image;

  animation-range: entry 25% cover 50%;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}
